<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if latest_poll_list %}
    <ul>
{#  You just need to look at the database and then see what are the fields#}
{#        and then put them all here to print#}
    {% for poll in latest_poll_list %}
        <li><a href=" {% url 'detail' poll.id %} ">{{ poll.question }} - {{ poll.id }} - {{ poll.pub_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>